<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
 <listener class-name="com.framework.utilities.Listeners"/>
 </listeners> 
 
  <test thread-count="5" name="Test">
    <parameter name="browser" value="chrome"/>
    <classes>
    
        <class name="com.framework.testcases.TC_01_CreateAccount"/>
            <class name="com.framework.testcases.TC_02_Login"/>
            <class name="com.framework.testcases.TC_03_Search"/>
            <class name="com.framework.testcases.TC_04_GiftCard"/>
            <class name="com.framework.testcases.TC_05_Title"/>
            <class name="com.framework.testcases.TC_06_WishList"/>
            <class name="com.framework.testcases.TC_07_AllProducts"/>
            <class name="com.framework.testcases.TC_08_Cart"/>
            <class name="com.framework.testcases.TC_09_Footer"/>
            <class name="com.framework.testcases.TC_10_ContactPage"/>
            <class name="com.framework.testcases.TC_11_Hover"/>
              
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
